:host {
    --grey: #E8E4DE;
    --dark-grey: #555555;
    --orange: #FFA501;
    --blue: #86c4e7;
}
@mixin center{

}

@mixin left {

}
#hero-section {
    margin-top: 0px;
    width: 100vw;
    height: 800px;
    background-color: var(--blue);
    position: relative;
    font-weight: 700;
    button {
        padding: 0px;
        font-size: 14px;
        width: 135px;
        height: 45px;
        border: none;
        background-color: var(--blue);
        &:first-of-type {
            background-color: var(--orange);
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        }
        &:hover {
            color: var(--dark-grey);
        }
    }
}

p {
    font-weight: 500;
}
h1 {
    line-height: 1.5em;
    font-weight: 700;
    font-size: 48px;
    color:black;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    color: black;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.orange-line {
    width: 60px;
    height: 3px;
    background-color: var(--orange);
}

.socials-left {
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;           
    gap: 15px;
    font-weight: 700 !important; 
    .socials {
        display: flex;
        justify-content: space-between;
        width: 102px;
        tui-icon {
            &:hover {
                color: var(--dark-grey) !important;
            }
        }
       
    }
    .line {
        width: 70px;
        height: 2px;
        background-color: black;
    }
    transform: rotate(-90deg);
}

