<div id="hero-section">
    <div class="socials-left">
        <h3>Социальные сети</h3>
        <div class="line"></div>
        <div class="socials">
            <a href="https://www.github.com" target="_blank" rel="noopener noreferrer">
                <tui-icon icon="@tui.github" [style.color]="'black'"/>
            </a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                <tui-icon icon="@tui.instagram" [style.color]="'black'"/>
            </a>
            <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                <tui-icon icon="@tui.facebook" [style.color]="'black'"/>
            </a>
        </div>
    </div>
    <div class="three-lines"
        [class.active]="isMenuOpen"
        (click)="openMenu()">
    </div>
    <div class="to-top">
        <a href="#">
            <tui-icon icon="@tui.circle-arrow-up" [style.color]="'black'" [style.font-size.px]="36"/>
        </a> 
    </div>
    
    <div class="content">
        <h3 class="circle"><span>Меня зовут Ашурков Станислав</span></h3>
        <h1>Я web-разработчик<br>из города Минск</h1>
        <button><a href="#portfolio">Портфолио</a></button>
        <button><a href="#about-me">Про меня</a></button>
    </div>
</div>

<div class="content">
    <div id="about-me">
        <img src="assets/img/img1.jpg">
        <div>
        <h3 class="circle">Про меня</h3>
        <h2>Меня зовут Станислав</h2>
        <div class="orange-line"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <ul>
            <li>
                <h4>Разработка</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </li>
            <li>
                <h4>Разработка приложений</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </li>
            <li>
                <h4>UI/UX Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </li>
        </ul>
        </div>
    </div>
    <div id="expirience">
        <h3 class="circle">Опыт</h3>
        <h2>Чем я буду полезен</h2>
        <div class="orange-line"></div>
        <div class="outer-box">
            <div class="inner-box">
                <h2>Образование</h2>
                <ul>
                    <li>
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur adipiscing</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. 
                        </p>
                    </li>
                    <li>
                        <h3>Lorem ipsum dolor sit</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. 
                        </p>
                    </li>
                </ul>
            </div>
            <div class="inner-box">
                <h2>Опыт работы</h2>
                <ul>
                    <li>
                        <h3>Lorem ipsum dolor sit</h3>
                        <h4>Lorem ipsum dolor sit amet </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. 
                        </p>
                    </li>
                    <li>
                        <h3>Lorem ipsum dolor</h3>
                        <h4>Lorem ipsum dolor sit </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="skills">
        <h3 class="circle">Навыки</h3>
        <h2>Что я использую в работе</h2>
        <div class="orange-line"></div>
        <ul>
            <li>
                <div><h4>Создание сайтов</h4><h4>100%</h4></div>
                <progress-bar [value]="100"></progress-bar></li>
            <li>
                <div><h4>Создание приложений</h4><h4>85%</h4></div>
                <progress-bar [value]="85"></progress-bar></li>
            <li>
                <div><h4>Работа с данными</h4><h4>90%</h4></div>
                <progress-bar [value]="90"></progress-bar></li>
            <li>
                <div><h4>Креативность</h4><h4>75%</h4></div>
                <progress-bar [value]="75"></progress-bar></li>
            <li>
                <div><h4>Создание дизайна</h4><h4>90%</h4></div>
                <progress-bar [value]="90"></progress-bar></li>
            <li>
                <div><h4>Soft skills</h4><h4>95%</h4></div>
                <progress-bar [value]="95"></progress-bar></li>
        </ul>
    </div>
    <div id="portfolio">
        <h3 class="circle">Портфолио</h3>
        <h2>Мои работы</h2>
        <div class="orange-line"></div>
    </div>
    <div id="praice-list">
        <h3 class="circle">Прайс-лист</h3>
        <div class="orange-line"></div>
    </div>
    <div id="contacts">
        <h3 class="circle">Контакты</h3>
        <h2>Свяжитесь со мной</h2>
        <div class="orange-line"></div>
    </div>
</div>

@if (isMenuOpen) {
    <div class="fixed">
        <app-menu-bar 
            (menuClosed)="closeMenu()"></app-menu-bar>
        <div class="blur"></div>
    </div>
}