<div id="hero-section">

    <div class="socials-left">
        <h3>Социальные сети</h3>
        <div class="line"></div>
        <div class="socials">
            <tui-icon icon="@tui.github" [style.color]="'black'"/>
            <tui-icon icon="@tui.instagram" [style.color]="'black'"/>
            <tui-icon icon="@tui.facebook" [style.color]="'black'"/>
        </div>
    </div>
    <h3>Меня зовут Ашурков Станислав</h3>
    <h1>Я web-разработчик<br>из города Минск</h1>
    <button>Портфолио</button>
    <button>Про меня</button>
</div>

<div id="about-me">
    <h3 class="circle">Про меня</h3>
    <h2>Меня зовут Станислав Ашурков</h2>
    <div class="orange-line"></div>
</div>
<div id="expirience">
    <h3 class="circle">Опыт</h3>
    <h2>Чем я буду полезен</h2>
    <div class="orange-line"></div>
</div>
<div id="skills">
    <h3 class="circle">Навыки</h3>
    <h2>Что я использую в работе</h2>
    <div class="orange-line"></div>
</div>
<div id="portfolio">
    <h3 class="circle">Портфолио</h3>
    <h2>Мои работы</h2>
    <div class="orange-line"></div>
</div>
<div id="praice-list">
    <h3 class="circle">Портфолио</h3>
    <h2>Мои работы</h2>
    <div class="orange-line"></div>
</div>
<div id="contacts">
    <h3 class="circle">Контакты</h3>
    <h2>Свяжитесь со мной</h2>
    <div class="orange-line"></div>
</div>