:host {
    --grey: #E8E4DE;
    --dark-grey: #555555;
    --orange: #FFA501;
    --blue: #b5e0f8;
}

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin center{

}

@mixin left {

}

.content {
    margin: 0px 10px 0px 8px;
    p {
        text-wrap: wrap;
    }
    @include desktop {
        margin: 0px 15vw;
    }
}

.content > div {
    padding: 0;
    margin: 0;
    padding-bottom: 40px;

    @include desktop{
        padding-bottom: 120px;
    }
}

.three-lines {
    position: fixed;
    right: 30px;
    top: 36px;
    width: 30px;
    height: 15px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    cursor: pointer;
    overflow: visible;
    &::before {
        content: "";
        position: absolute;
        left: -6px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 3px;
        background: #000;
    }
}

.to-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
}

#hero-section {
    top: -16px;
    padding-top: 0px;
    margin-top: 0px;
    width: 100vw;
    height: 800px;
    background-color: var(--blue);
    position: relative;
    font-weight: 700;
    button {
        padding: 0px;
        font-size: 14px;
        font-weight: 700;
        width: 135px;
        height: 45px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        &:first-of-type {
            background-color: var(--orange);
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        }
    }
    .content {
        position: absolute;
        top: 206px;
    }
    .socials-left {
        visibility: hidden;
        @include desktop {
            visibility: visible;
            display: flex;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 50px;
            justify-content: center;
            align-items: center;
            margin: auto;           
            gap: 15px;
            font-weight: 700 !important; 
            .socials {
                display: flex;
                justify-content: space-between;
                width: 102px;
                tui-icon {
                    &:hover {
                        color: var(--dark-grey) !important;
                    }
                }
            }
            .line {
                width: 70px;
                height: 2px;
                background-color: black;
            }
            transform: rotate(-90deg) translateX(-50%);;
            transform-origin: left;
        } 
    }
}

#about-me {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    li {
        
        
        p {
            max-width: 260px;
        }
    }
}

#skills {
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 45px;
        margin: 0;
        padding: 0;
        li {
            height: 70px;
            display: flex;
            flex-direction: column;
            width: 350px;
            div {
                display: flex;
                justify-content: space-between;
            }
            h4:first-of-type {
                left: 0px;
                top: 0px;
            }
            h4:last-of-type {
                font-weight: 500;
                right: 0px;
                top: 0px;
            }
        }
    }
}

#expirience {
    .outer-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        .inner-box {
            max-width: 425px;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 50px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: var(--orange);
            }

            ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
                margin-left: -43px;
                margin-top: -3px;
                padding-top: 3px;
                padding-left: 43px;
                border-left: 1px solid black;
                li {
                    position: relative;
                    padding-top: 45px;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background: var(--orange);
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: -43px;
                        top: 63px;
                        width: 43px;
                        height: 1px;
                        background: black;
                    }
                }
                
            }
        }

        h2 {
            font-size: 20px !important;
            margin: 0;
        }
        h3 {
            font-size: 14 !important;
            padding-left: 56px;
            margin: 0;
        }
        h4 {
            font-size: 12 !important;
            font-weight: 500;
            padding-left: 56px;
            margin: 0;
        }
    }
    p {
        margin: 0px;
    }
}

button {
    a {
        &:hover {
        color: var(--dark-grey) !important;
        }
    }
}
a {
    text-decoration: none;
    color: black;
}

p {
    font-weight: 500;
}
h1 {
    line-height: 1.5em;
    font-weight: 700;
    font-size: 26px;
    color:black;
    @include desktop {
        font-size: 48px; 
    }
} 
h2 {
    font-weight: 700;
    font-size: 24px;
    color: black;
    @include desktop {
        font-size: 36px;
    }
}

h3 {
    font-weight: 700;
    font-size: 16px;
    color: black;
}

h4 {
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.orange-line {
    width: 60px;
    height: 3px;
    background-color: var(--orange);
}



.fixed {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
}

.blur {
    background: rgba($color: white, $alpha: 0.7);
    flex: 1;
    height: 100vh;
}

