
:host {
    display: flex;
    width: 250px;
    height: 100vh;
    background: #FFA501;
    margin: 0;
    flex-direction: column;
    position: relative;
}

@media (min-width: 768px) {
:host {
        width: 345px;
    }
}

li {
    list-style-type: none;
    font-size: 24px;
    color: white;
    font-weight: 700;
    height: 36px;
    margin-bottom: 15px;
}


li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px black solid;
    border-radius: 50%;
    margin-right: 20px;
}

ul {
    left: 20px;
    position: absolute;
    top: 140px;
    flex-direction: column;
    font-size: 24px;
    list-style-type: circle;
}

@media (min-width: 768px) {
    ul {
        left: 40px;
    }
}

.socials {
    position: absolute;
    bottom: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10px;
    left: 0;
    right: 0;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
