
:host {
    display: flex;
    width: 250px !important;
    height: 100vh;
    background: #FFA501;
    margin: 0;
    flex-direction: column;
    position: relative;
    --grey: #E8E4DE;
    --dark-grey: #555555;
}

@media (min-width: 768px) {
:host {
        width: 345px !important;
    }
}

li {
    list-style-type: none;
    font-size: 24px;
    font-weight: 700;
    height: 36px;
    margin-bottom: 15px;
    a {
        text-decoration: none;
        color:white;
        &:hover {
            color: var(--grey);
        }
    }
}


li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px black solid;
    border-radius: 50%;
    margin-right: 20px;
}

ul {
    left: 20px;
    position: absolute;
    top: 140px;
    flex-direction: column;
    font-size: 24px;
    list-style-type: circle;
}

@media (min-width: 768px) {
    ul {
        left: 40px;
    }
}

.socials {
    position: absolute;
    bottom: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10px;
    left: 0;
    right: 0;

    tui-icon {
        &:hover {
            color: var(--dark-grey) !important;
        }
    }
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    &:hover {
        color: var(--dark-grey) !important;
    }
}
